.main-content {
    height: 1000px;
    width: 100%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contact-wrap {
    width: 375px;
    background-color: #FFFFFF;
}

    .contact-top-category {
        height: 60px;
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-arrow{
        height: 12px;
        width: 7px;
        background: url('../../assets/arrow_right.png') right no-repeat;
        transition-duration: 0.5s;
        background-size: 7px 12px;
    }
    .vertical{
        -moz-transform:rotate(90deg); 
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        transition-duration: 0.5s;
    }
    .contact-title{
        color: #333333;
        font-size: 14px;
        line-height: 60px;
    }
    .contact-list{
        background-color: #FCFCFC;
    }
    .subMenuHidden{
        display: none;
    }
    .contact-list-Item{
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .green{
        height: 50px;
        width: 3px;
        background-color: #00ffff;
    }
    .grey{
        height: 50px;
        width: 3px;
        background-color: #FCFCFC;
    }
    .people-cell{
        flex: 1;
        height: 50px;
        margin-left: 12px;
        margin-right: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .isSelect{
        background: url('../../assets/icon_select.png') right no-repeat;
        background-size: 20px 20px;
    }
    .people-avatar{
        height: 32px;
        width: 32px;
        margin-right: 10px;
        border-radius: 16px;
        background-size: 32px 32px;
        background-position: center;
    }
    .people-avatar-none{
        height: 32px;
        width: 32px;
        margin-right: 10px;
        border-radius: 16px;
        background-image: url(../../assets/icon_user.png);
        background-size: 32px 32px;
        background-position: center;
    }
    .people-name{
        line-height: 22px;
    }
    .people-appellation{
        color: #999999;
        line-height: 18px;
        font-size: 12px;
    }